body{
    background-color: #000;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif ;
    /* 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
    color: #ccc;
}
.main-header{
    width: 100%;
    background: linear-gradient(180deg, #000 0%, #000 40%, rgba(0, 0, 0, 0.00) 100%);
    /* padding: 10px; */
    height: 80px;
    position: fixed;
    z-index: 3;
}
.main-header .container{
    width: 62.5%;
    /* height: 80px; */
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.zoom-logo svg{
    width: 100%;
    margin-top: 5%;
}
.icon-link{
    display: flex;
    justify-content: space-between;
    margin-top: -1.5em;
}
.icon-link>*{
    padding: 0 1em;
}
/* .main-nav a + a{
    border-top:1px solid aliceblue;
} */
.hb label{
    width: 25px;
    height: 30px;
    display: block;
    position: relative;
    margin-top: -5px;
}
.icon-link >* label:hover{
    scale: 110%;
    animation: zooming .29s 0s infinite alternate;
    /* -webkit-filter: drop-shadow(2px 2px 2px #FFC42C); */
    filter: drop-shadow(0px 0px 2px #4AFFD3);
}
.icon-link >* svg:hover{
    scale: 110%;
    animation: zooming .29s 0s infinite alternate;    /* -webkit-filter: drop-shadow(2px 2px 2px #4AFFD3); */
    filter: drop-shadow(0px 0px 5px #4AFFD3);
}
.main-nav{
    position: absolute;
    width: 30%;
    height:calc(100vh - 80px);
    border: 1px solid transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-image: linear-gradient(0deg, rgba(0, 0, 0, 0.00), #FFC42C 50%, rgba(0, 0, 0, 0.00) 100%);
    border-image-slice: 1;
    background: linear-gradient(0deg, #0000 0%, #000e 40%, #000e 60%, #0000 100%);
    top: 80px;
    right: 0;
    translate:-500%;
    display: flex;
    flex-direction: column;  
    transition: 1s;
    opacity: 0;
}
.main-nav a{
    height: 100%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding: 1.5em 0;
}
.main-nav a:hover{
    scale: 110%;
    animation: zooming .29s 0s infinite alternate;
}
.main-nav a:first-child svg{
    scale: 76%;
}
.main-nav a p:first-child{
    font-size: 1.5em;
    color: #FFC42C;
    font-weight: 600;
}
.main-nav a p:last-child{
    font-size: 1.2em;
    color: #ddd;
    font-weight: 300;
}
#menu-switch:checked + .main-header .main-nav{
    translate: 0 0;
    opacity: 1;
}
.hb span{
    width: 95%;
    height: 12%;
    background-color: #fff;
    position: absolute;
    inset: 0;
    margin: auto;
}
.hb span:nth-child(1){
    translate: 0px -8px;
    rotate: 0deg;
    transition: translate .3s .3s,
                rotate .3s 0s;
}
.hb span:nth-child(2){
    opacity: 1;
    transition: opacity .3s .6s;
}
.hb span:nth-child(3){
    translate: 0px 8px;
    rotate: 0deg;
    transition: translate  .3s .3s,
                rotate .3s 0s;
}
#menu-switch:checked + .main-header .hb span:nth-child(1){
    translate: 0 0;
    rotate: 45deg;
    transition: translate  .3s .3s,
                rotate .3s .6s;
}
#menu-switch:checked + .main-header .hb span:nth-child(2){
    opacity: 0;
    transition: opacity .3s;
}
#menu-switch:checked + .main-header .hb span:nth-child(3){
    translate: 0 0;
    rotate: -45deg;
    transition: translate .3s .3s,
                rotate .3s .6s;
}
#menu-switch{
    display: none;
} 


footer{
    /* border: #FFF 1px solid; */
    /* background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%); */
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
footer .row{
    /* background-color: #00f; */
    width: 66.545455%;
    /* height: 54.545455%; */
    /* border: #FFC42C 1px solid; */
    margin: auto;
    padding: 5% 0;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}
footer .subscribe{
    width: 400px;
    height: 100%;
}
footer .subscribe p{
    width: 100%;
    font-size: 35px;
    font-weight: 600;
    color: #eee;
}
footer .typing{
    width: 100%;
    margin: 12px 0;
    position: relative;
}
footer input{
    width: 96.25%;
    font-size: 30px;
    color: #555;
    position: absolute;
}
footer button{
    background-color: #0000;
    border: #0000;
    position: absolute;
    right: 15px;
    top: 14px;
}
footer li {
    margin-bottom: 20px;
}
/* footer .address{
    background-color: #00f;
}  */
footer .address .info p{
    margin-bottom: 5px;
}
footer .address .info p:first-child{
    margin-bottom: 20px;
}
footer .address .info p:last-child{
    margin-bottom: 20px;
}
footer .address .icon-link{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-right: -1em; */
    /* width:100%; */
    /* background-color: #FFC42C; */
}
footer .address .icon-link a svg{
    padding: 0;
    margin:0 -1em;
}
.home-title {
    /* background-color: #fff; */
    font-family: Helvetica, sans-serif;
    padding: auto;
    padding-top: 50px;
    /* padding-left: 1.5625%;       */
    position: relative;    
    box-sizing: border-box;
}
.home-title h2{
    color: #FFC42C;
    font-size: 36px;
}
.home-title h3{
    /* background-color: #00f; */
    /* margin-top: 10px; */
    /* margin-left: 160px; */
    color: #D9D9D9;
    font-size: 24px;
}
.donate{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #FFC42Caa;
    position: fixed;
    top: 45% ;
    left: 85%;
}
.donate:hover{    
    scale: 110%;
    animation: zooming .29s 0s infinite alternate;
}
.donate a{
    display: block;
    padding: 2.2em 0;
}
.donate p{
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    color: #eee;
    text-align: center;
    margin: auto;
}

.btt{
    margin-top: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: transparent;
    background-image:radial-gradient(circle at center ,#fff0 0%, #666 100%) ;
    margin: auto;
    position: relative;
}
.btt::before{
    content: '△';
    color: #aaaa;
    font-size: 24px;
    position: absolute;
    top: -50%;
    left: 37.5%;
    transition: color .3s , transform .3s;
}
.btt:hover {
    background-image:radial-gradient(circle at center ,#fff0 0%, #FF2CAA 100%) ;
    scale: 110%;
    animation: zooming .29s 0s infinite alternate-reverse;
}
.btt:hover:before{
    color: #FF2CAA;
    animation: move .3s 0s infinite alternate;
}
@keyframes zooming{
      0%{ scale: 1};
}
@keyframes move {
    0%{ top: -50%;}
  100%{ top: -45%;}
}
.btt a{
    display: block;

    padding: 1.4em;
}
.btt a p{
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    /* line-height: 25px; */
    text-align: center;
    margin: auto;
}

h2{
    color: #FFC42C;
    font-size: 36px;
}
h3{ 
    padding: .5em 0;
    color: #eee;
    font-size: 24px;
}
